[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
matplotlib = "*"
pandas = "*"
click = "*"

[dev-packages]
yapf = "*"
mypy = "*"

[requires]
python_version = "3.8"
